{% extends "base.html" %}

{% block title %}Статус подключения{% endblock %}
{% block header %}Статус подключения к весам{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            {% if connected %}
                <b>Подключено к {{ current_port }} ({{ current_baudrate }})</b>
            {% else %}
                <b style="color:red;">{{ connection_status.message }}</b>
            {% endif %}
            <br>
            {% if scales_ready %}
                <span style="color:green;">Весы готовы к работе</span>
            {% else %}
                <span style="color:orange;">Весы не готовы</span>
            {% endif %}
            <br><br>
            <form action="{{ url_for('logout') }}" method="post">
                <button type="submit" class="btn btn-danger">Выйти</button>
            </form>
        </div>
    </div>
{% endblock %}